{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Jobs</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Jobs</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            
            <h2 class="post-title">Smile in Weil Stellenangebot</h2>
            
            <img src="{% static 'website/img/bg_img/jobs.jpg' %}" alt="">

            <h3>Zahnmedizinische Fachangestellte gesucht</h3>
            
            

            <h5>Unser Team sucht Verstärkung!</h5>
            <p> Leider ist unser Team derzeit voll besetzt. Sie können uns gerne Ihren Lebenslauf und Ihre Bewerbung an unsere E-Mail-Adresse senden. Eine kurze Stellenbeschreibung unserer Mitarbeiter finden Sie unten.</p>
            <h5>Stellenbeschreibung Zahnarzthelferin</h5>
            <p>Für unsere Klinik suchen wir eine kompetente zahnmedizinische Assistentin, die die Zahnarztpraxis effizienter und angenehmer für die Patienten macht. Sie sorgen für einen hervorragenden Kundenservice und entlasten den Zahnarzt von administrativen und grundlegenden zahnmedizinischen Aufgaben.</p>
            <p>Zahnmedizinische Fachangestellte sollten gut organisiert sein und viel Liebe zum Detail haben. Sie sollten in der Lage sein, Anweisungen zu befolgen und die Vorschriften der Zahnarztpraxis einzuhalten. Wir möchten, dass Sie in der Lage sind, Patienten direkt oder indirekt zu betreuen und die Abläufe in der Praxis so reibungslos wie möglich zu gestalten.</p>
            <br/>
            
            <blockquote cite="" class="dento-blockquote d-flex">
              <div class="icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="text">
                <h5>Good dental care doesn't make you a good student, but if your tooth hurts, it's hard to be a good student</h5>
                <h6>Geoffrey Canada / <span>Social Activist</span></h6>
              </div>
            </blockquote>

            <h5>Aufgaben der Zahnarzthelferin :</h5>
            <p>&#8226;Begrüßung der Kunden in der Zahnarztpraxis</p>
            <p>&bull;Preparing customers for treatments or checkups ensuring their comfort</p>
            <p>&#8226;Vorbereitung der Kunden auf Behandlungen oder Kontrolluntersuchungen, um ihren Komfort zu gewährleisten</p>

            <p>&#8226;Sterilisieren von Instrumenten gemäß den Vorschriften</p>
            <p>&bull;Assistieren Sie dem Zahnarzt durch 4-händige Zahnbehandlung</p>
            <p>&#8226;Durchführung von Laboraufgaben nach Anweisung</p>

            <p>&#8226;Anweisungen zur Mundhygiene und zur postoperativen Pflege geben</p>
            <p>&bull;Halten Sie die Zahnarztpraxis sauber und gut bestückt</p>
            <p>&#8226;Termine vereinbaren</p>
            <p>&#8226;Führen von genauen Patientenakten und Unterstützung bei der Zahlungsabwicklung</p><br>
          
              <img src="{% static 'website/img/bg_img/25.jpg' %}" alt="">

              <h5>Anforderungen und Qualifikationen : </h5>
              <p>&#8226;Nachgewiesene Erfahrung als Zahnarzthelferin</p>
              <p>&bull;Kenntnisse über zahnärztliche Instrumente und Sterilisationsmethoden</p>
              <p>&#8226;Verständnis der Gesundheits- und Sicherheitsvorschriften</p>
  
              <p>&#8226;Die Fähigkeit, geregelte nicht-chirurgische Aufgaben wie das Polieren der Zahnkrone auszuführen, ist ein Plus</p>
              <p>&bull;Gute Computerkenntnisse</p>
              <p>&#8226;Ausgezeichnete Kommunikations- und soziale Kompetenz</p>
  
              <p>&#8226;Liebe zum Detail</p>
              <p>&bull;Gute Organisation und Zuverlässigkeit</p>
              <p>&#8226;Schulabschluss; der Abschluss einer Schule für Zahnmedizinische Fachangestellte ist von Vorteil</p>
              <p>&#8226;Zusätzliche Zertifizierung oder Ausbildung ist von Vorteil (z. B. EFDA)</p>
              <br>
              <h5>Bewerbung</h5>
              <p>Senden Sie uns Ihren Lebenslauf per E-Mail an info@smile-in-weil.de <br/>
                Wir werden uns in Kürze mit Ihnen in Verbindung setzen und Sie zu einem Vorstellungsgespräch einladen.</p>
          </div>
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget">
              <h5 class="widget-title">Interessante Fakten<p><b> Schlauer werden in Sekunden </b></p></h5> 

              <!-- Single News Area -- Intresting Fact 3 -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/teeth_vertical.jpg' %}" alt="">
                </div>
                <div class="blog-content">                  
                  <a>Der Zahnschmelz ist die härteste Substanz im ganzen Körper. Es ist härter als Knochen. Um möglichst so widerstandsfähig zu bleiben, ist es empfehlenswert, Zahnpasta mit Fluorid zu benutzen. Fluorid härtet den Zahnschmelz und beugt so Karies vor. </a>
                </div>
              </div>

              <!-- Single News Area -- Intresting Fact 5 -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/baby_smile.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a>Lächeln ist nicht nur ein Gesichtsausdruck. Es fördert im Gehirn die Produktion von Endorphinen, die das Wohlbefinden steigern und verringern seelische Schmerzen. Frauen lächeln mehr als Männer und Kinder lachen 26 Mal häufiger als Erwachsene. </a>
                </div>
              </div>

              <!-- Single News Area -- Intresting Fact 6 -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg_img/baby_smile_2.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a>Bei Mäusen wachsen beschädigte Zähne wieder nach, leider klappt das bei uns Menschen nicht. Falls ein Loch im Zahn vorhanden ist, kann nur der Zahnarzt helfen. </a>
                </div>
              </div>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="{% static 'website/img/bg_img/12.jpg' %}" alt=""></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->
{% endblock %}