{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Datenschutz</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Datenschutz</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            
            <h2 class="post-title">Smile in Weil Datenschutz</h2>
            
            <img src="{% static 'website/img/bg_img/jobs.jpg' %}" alt="">

            
            <p><b>Sehr geehrter Besucher unserer Webseite,</b></p>

            <p>wir möchten Sie darüber informieren, dass beim Besuch unserer Webseite personenbezogene Daten erhoben werden. Personenbezogen sind Daten, die auf Sie persönlich beziehbar sind (z. B. Name, E-Mail, Nutzerverhalten).</p>
            <br>
            <p>Verantwortlich für die Erhebung und Speicherung der Daten sind Dr. Dimitra Karvouni, erreichbar  unter der Praxisanschrift Königsberger Str. 279576 Weil am Rhein, E-Mail info@smile-in-weil.de und Telefonnummer +49 / 7621 / 79 22 20</p>
            <br>
            <p>Unserer Webseite dient ausschließlich der Bereitstellung von Informationen über unsere Praxis, unser Behandlungsspektrum und therapeutische Möglichkeiten bei verschiedenen Erkrankungen. Beim Besuch unserer Webseite werden nur die Daten erhoben, die von Ihrem Browser an unseren Server übermittelt werden. Diese Daten sind notwendig, damit Sie unsere Webseite angezeigt bekommen und auf ihr navigieren können. Rechtsgrundlage für die Erhebung der Daten ist Art. 6 Abs. 1 f) EU-Datenschutz-Grundverordnung. Im Einzelnen werden folgende Daten beim Besuch unserer Webseite erhoben:</p>
            <br>
            <p>§  IP-Adresse</p>
            <p>§  Art des Browsers, sowie dessen Sprache und Version</p>
            <p>§  Betriebssystem </p>
            <p>§  Zugriffstatus/http-Statuscode</p>
            <p>§  Datum und Uhrzeit der Anfrage, sowie die Zeitzone</p>
            <p>§  Inhalt der Anforderung und Webseite von der sie kommt</p>
            <p>§  Übertragene Datenmenge</p>
            <p>Die Löschung dieser Daten erfolgt, wenn diese nicht mehr erforderlich sind.</p>
            <br><br>

            <p><b>Ihre Rechte</b></p>
            <p>Sie haben uns gegenüber folgende Rechte, hinsichtlich <b>der bei uns</b> über Sie gespeicherten Daten:</p>
            <br>
            <p>§   Recht auf Berichtigung und Löschung</p>
            <p>§   Recht auf Auskunft</p>
            <p>§   Recht auf Einschränkung der Verarbeitung</p>
            <p>§   Recht auf Datenübertragbarkeit</p>
            <p>§   Recht auf Widerspruch gegen die Verarbeitung</p>
            <p>Ihnen steht weiterhin ein Beschwerderecht beim Landesbeauftragten für den Datenschutz und die Informationsfreiheit in Baden-Württemberg zu.</p>
            <br><br>



            <p><b>Cookies</b></p>
            <p>Zusätzlich zu diesen Daten nutzen wir über unsere Webseite auch Cookies. Dies sind kleine Textprogramme, die nach Besuch unserer Webseite auf Ihrem Rechner (in Ihrem Browser) gespeichert werden. Sollten Sie unsere Webseite danach erneut besuchen, so sendet der von Ihnen genutzte Browser die in dem Cookie gespeicherten Informationen an unsere Webseite und kann Ihnen so bspw. die Navigation erleichtern, weil Voreinstellungen übernommen werden. Cookies sind keine Viren und können auch keine Schadsoftware auf dem Computer installieren. Sie sind nur kurze Texte, die zwischen Webserver und Browser ausgetauscht werden. Auf unserer Webseite werden folgende Arten von Cookies verwendet:</p>
            <br>

            <p>&#8226; Transiente Cookies (temporäre Cookies)</p>
            <br>
            <p>Diese Cookies werden nur für den Zeitraum der Nutzung Ihres Browsers gespeichert. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf die Webseite zurückkehren. Sobald Sie den Browser schließen, werden auch diese Cookies automatisch gelöscht.</p>
            <br>
            
            <p>&#8226; Persistente Cookies (zeitlich beschränkte Cookies)</p>
            <br>
            <p>Diese Cookies unterscheiden sich von den Transienten Cookies lediglich dadurch, dass sie beim Schließen des Browsers nicht automatisch gelöscht werden, sondern erst nach einer voreingestellten Zeit. Sie können diese Cookies jedoch jederzeit über die Einstellungen Ihres Browsers löschen.</p>
            <p>Grundsätzlich können Sie die Einstellungen Ihres Browsers so konfigurieren, dass Cookies gar nicht oder nur eingeschränkt von diesem angenommen und gespeichert werden. Wenn Sie von dieser Möglichkeit Gebrauch machen, kann es jedoch zu Einschränkungen bei der Nutzbarkeit unserer Webseite kommen. </p>
            <br><br>



            <p><b>Kontaktformular</b></p>
            <p>Wenn Sie uns per Kontaktformular Terminwünsche oder Anfragen zukommen lassen, werden die von Ihnen mitgeteilten Daten (E-Mail-Adresse, Name, Telefonnummer) gespeichert, um Ihre Fragen beantworten zu können. Diese Daten werden gelöscht, sobald sie nicht mehr benötigt werden und keine gesetzlichen Aufbewahrungspflichten bestehen. Dritten werden diese Daten nicht zugänglich gemacht.</p>
            <br><br>

            <p><b>Google Analytics</b></p>
            <p>Wir nutzen auf unserer Webseite Google Analytics. Google Analytics ist ein Webanalysedienst der Google Inc.. Google verwendet Cookies. Die mittels Cookies erzeugten Informationen über die Nutzung der Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>
            <br>
            <p>Google nutzt diese Informationen in unserem Auftrag, um die Nutzung unseres Onlineangebotes auszuwerten und um weitere mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen uns gegenüber zu erbringen. </p>
            <br>
            <p>Wir haben Google Analytics um den Code „anonymizeIP“ erweitert. Das bedeutet, die IP-Adresse der Nutzer wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt. In Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Durch die Code-Erweiterung „anonymizeIp“ werden die letzten 8bit der IP-Adresse der Nutzer gekappt. Durch den Einsatz dieses Codes ist nur noch eine grobe Lokalisierung der Nutzer möglich. Die von dem Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
            <br>
            <p>Die Speicherung der Cookies können Sie durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Eventuell können dann nicht sämtliche Funktionen der Webseite vollumfänglich genutzt werden. </p>
            <br>
            <p>Außerdem können Sie die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de"> http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>
            <br>
            <p>Möglich ist auch das Setzen eines Opt-Out-Cookies, das die zukünftige Erfassung Ihrer Daten beim Besuch unserer Webseite verhindert. Hinweise zur Einbindung eines Opt-Out-Cookies finden Sie unter: <a href="http://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable"> http://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable/</a>.</p>
            <br>
            <p>Weitere Informationen zur Datennutzung durch Google, Einstellungen und Widerspruchs-möglichkeiten erhalten Sie auf den Webseiten von Google: <a href="https://www.google.com/intl/de/policies/privacy/partners/"> https://www.google.com/intl/de/policies/privacy/partners/</a> („Datennutzung durch Google bei Ihrer Nutzung von Webseiten oder Apps unserer Partner“), <a href="http://www.google.com/policies/technologies/ads"> http://www.google.com/policies/technologies/ads</a> („Werbung“)</p>
            <br><br>

            <p><b>Google Maps</b></p>
            <p>Unsere Webseite benutzt Google Maps zur Darstellung von Karten und zur Erstellung von Anfahrtsplänen. </p>
            <br>
            <p>Google Maps wird von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA betrieben.</p>
            <br>
            <p>Durch den Besuch auf der Webseite erhält Google Informationen darüber, dass Sie die entsprechende Seite unseres Webauftrittes aufgerufen haben. Dies erfolgt auch unabhängig davon, ob Sie ein Nutzerkonto bei Google haben oder über dieses eingeloggt sind. Für den  Fall, dass Sie während der Nutzung der Webseite über ein Nutzerkonto von Google eingeloggt sind, werden die Daten direkt Ihrem Benutzerkonto zugeordnet. Wenn Sie dies nicht wünschen, so müssen Sie sich vor Nutzung des Dienstes ausloggen.</p>
            <br>
            <p>Durch die Nutzung von Google Maps erklären Sie sich mit der Erfassung, Bearbeitung sowie der Nutzung der automatisch erhobenen sowie der von Ihnen eingegeben Daten durch Google und ggf. von Drittanbieter einverstanden. Die Nutzungsbedingungen für Google Maps finden Sie unter Nutzungsbedingungen für Google Maps. Ausführliche Details finden Sie unter google.de: Transparenz und Wahlmöglichkeiten sowie Datenschutzbestimmungen. Das Ihnen zustehende Widerspruchsrecht müssen Sie direkt gegenüber Google ausüben. Über Ihre Browsereinstellungen können Sie den Google Maps-Dienst deaktivieren (Deaktivierung des JavaScripts im Browser). Eine Nutzung ist dann nicht mehr möglich.</p>
            <br><br>

            <p><b>Jameda</b></p>
            <br>
            <p>Unsere Webseite nutzt Plug-Ins der Jameda GmbH, St.-Cajetan-Straße 41, 81669 München. Wenn Sie eine unserer mit einem Jameda-Plug-In ausgestatteten Seiten besuchen, wird eine Verbindung zu den Servern von Jameda hergestellt. Dabei wird dem Jameda-Server mitgeteilt, welche unserer Seiten Sie besucht haben.</p>
            <br>
            <p>Jameda erhebt Informationen über die Nutzung von <a href="https://www.jameda.de/"> www.jameda.de </a> von einzelnen Rechnern aus. Mit dem Sammeln solcher Informationen beabsichtigt Jameda sein Online-Angebot zu individualisieren. Wenn Sie mit den Plug-In interagieren, zum Beispiel den „Empfehlen“-Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an Jameda übermittelt und dort gespeichert.</p>
            <br>
            <p>Den Zweck und Umfang der jeweiligen Datenerhebung und Informationen zur weiteren Verarbeitung und Nutzung der Daten durch die Anbieter sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre erfahren Sie auf den Seiten von Jameda in der Datenschutzerklärung unter <a href="https://www.jameda.de/jameda/datenschutz.php"> https://www.jameda.de/jameda/datenschutz.php</a></p>
            

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->
{% endblock %}