{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg_img/1.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInUp" data-delay="100ms">Ein Lächeln ist eine Kurve,<br> die alles gerade macht </h2> 
                <p data-animation="fadeInUp" data-delay="300ms">Es ist uns wichtig, jeden Patienten, jeden Tag aufs Beste zu behandeln. <br>Die Zufriedenheit und Erfahrung des Patienten sind unsere Priorität.</p>
                <div class="welcome-btn-group">
                  <a href="https://www.doctolib.de/einzelpraxis/weil-am-rhein/smile-in-weil?utm_campaign=website-button&utm_source=smile-in-weil-website-button&utm_medium=referral&utm_content=option-8&utm_term=smile-in-weil#team " target="_blank" class="btn dento-btn mx-2" data-animation="fadeInUp" data-delay="500ms">Termin Buchen</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInUp" data-delay="700ms">Kontaktieren Sie uns</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax" style="background-image: url({% static 'website/img/bg_img/2.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 data-animation="fadeInDown" data-delay="100ms">Die qualitativ hochwertige Versorgung, die Sie verdienen</h2>
                <p data-animation="fadeInDown" data-delay="300ms">Unser Team bietet den Menschen in Weil am Reihn und Umgebung eine hochwertige zahnärztliche Versorgung. Wir laden Sie ein, den Unterschied zu entdecken, den die Smile in Weil Clinic für Ihr Lächeln machen kann.</p>
                <div class="welcome-btn-group">
                  <a href="https://www.doctolib.de/einzelpraxis/weil-am-rhein/smile-in-weil?utm_campaign=website-button&utm_source=smile-in-weil-website-button&utm_medium=referral&utm_content=option-8&utm_term=smile-in-weil#team" target="_blank" class="btn dento-btn mx-2" data-animation="fadeInDown" data-delay="500ms">Termin Buchen</a>
                  <a href="{% url 'contact' %}" class="btn dento-btn mx-2 active" data-animation="fadeInDown" data-delay="700ms">Kontaktieren Sie uns</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-8">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg_img/uber_uns_1.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-4">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Über Uns</h2>
              <div class="line"></div>
            </div>
            <p>Wir sind stolz auf die Rücksichtnahme auf unsere Patienten.<br> Wir heißen unsere Patienten in jeder Hinsicht willkommen und bieten Leistungen sowohl auf Deutsch als auch auf Englisch an.<br> Es macht uns unglaublich viel Spaß, Ihre erste zahnärztliche Behandlung bei uns so angenehm wie möglich zu gestalten und mit all unseren Patienten langfristige Beziehungen zu pflegen.</p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">20</span></h2>
            <h5>Langjährige Erfahrung</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">700</span>+</h2>
            <h5>Glückliche Patienten</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">30</span>+</h2>
            <h5>Zertifikat</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">5</span>+</h2>
            <h5>Mitarbeiter</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- Dento Service Area Start -->
  <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg_img/13.jpg' %});">
    <div class="container">
      <div class="row align-items-center">
        <!-- Service Content -->
        <div class="col-12 col-lg-6">
          <div class="service-content mb-30">
            <!-- Section Heading -->
            <div class="section-heading white">
              <h2>Unsere Dienstleistungen</h2>
              <div class="line"></div>
            </div>

            <div class="row">
              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s1.png' %}" alt="">
                  <h6>Dentalhygiene</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s2.png' %}" alt="">
                  <h6>Zahnersatz</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s3.png' %}" alt="">
                  <h6>Kinderbehandlung</h6>
                  
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s4.png' %}" alt="">
                  <h6>Zahnimplantate</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s5.png' %}" alt="">
                  <h6>Keramikfüllungen und Inlays</h6>
                </div>
              </div>

              <!-- Single Service -->
              <div class="col-6 col-md-4">
                <div class="single-service mb-70">
                  <img src="{% static 'website/img/core_img/s6.png' %}" alt="" > <!-- όταν το πατάς να σε μεταφέρει στην -->
                  <h6>Alles Leistungen</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Video Area 
        <div class="col-12 col-lg-6">
          <div class="dento-video-area mb-100">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?controls=0&amp;list=PLdQfOqg89NKAKeyuNi7tR5K6Wkv7odIxl" title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe></div>
        </div>
      </div>
    </div>  -->
  </section>

  <!-- Dento Service Area End -->

 <!-- ***** Dento Dentist Area Start ***** -->
 <section class="dentist-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Das Team</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Dentist Area -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg_img/milli1_nt.jpg' %}" alt="">
          <!-- Dentist Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a><img src="{% static 'website/img/core_img/dentist.png' %}" alt=""></a>
            </div>
            <!-- Dentist Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Dimitra Karvouni</h5>
              <p>Zahnärztin & Kieferorthopädie</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Single Dentist Area -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg_img/person.jpeg' %}" alt="">
          <!-- Dentist Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a><img src="{% static 'website/img/core_img/assistant.png' %}" alt=""></a>
            </div>
            <!-- Dentist Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Frau Ellen Kaufmann</h5>
              <p>Dentist Assistant</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg_img/person2.jpeg' %}" alt="">
          <!-- Dentist Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a><img src="{% static 'website/img/core_img/assistant.png' %}" alt=""></a>
            </div>
            <!-- Dentist Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Frau Coluccia</h5>
              <p>Dentist Assistant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg_img/person3.jpeg' %}" alt="">
          <!-- Dentist Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a><img src="{% static 'website/img/core_img/assistant.png' %}" alt=""></a>
            </div>
            <!-- Dentist Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Frau Di Mattia</h5>
              <p>Dentist Assistant</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="single-dentist-area mb-100">
          <img src="{% static 'website/img/bg_img/person4.jpeg' %}" alt="">
          <!-- Dentist Content -->
          <div class="dentist-content">
            <!-- Social Info -->
            <div class="dentist-social-info">
              <a><img src="{% static 'website/img/core_img/assistant.png' %}" alt=""></a>
            </div>
            <!-- Dentist Info -->
            <div class="dentist-info bg-gradient-overlay">
              <h5>Frau Glock</h5>
              <p>Dentist Assistant</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- ***** Dento Dentist Area End ***** -->

    <!-- Book An Oppointment Area Start -->
    <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg_img/12.jpg' %});">
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center white">
              <h2>Kontaktieren Sie uns</h2>
              <div class="line"></div>
              <br> 
              <h4><i>Füllen Sie das Formular aus und wir werden Sie zu Ihrem Wunschtermin kontaktieren</i></h4>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <!-- Appointment Form -->
            <div class="appointment-form">
              <form action= "{% url 'appointment' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <input type="text" name="your-name" class="form-control" placeholder="Name und Vorname" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <input type="text" name="your-phone" class="form-control" placeholder="Rufnummer" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <input type="email" name="your-email" class="form-control" placeholder="Email" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <select name="your-schedule" class="form-control">
                        <option value="Choose Your Scheldule">Wählen Sie Ihren Zeitplan</option>
                        <option value="Kontaktieren Sie mich so schnell wie möglich">Kontaktieren Sie mich so schnell wie möglich</option>
                        <option value="Kontaktieren Sie mich um 8:00 - 10:00">Kontaktieren Sie mich um 8:00 - 10:00</option>
                        <option value="Kontaktieren Sie mich um 10:00 - 12:00">Kontaktieren Sie mich um 10:00 - 12:00</option>
                        <option value="Kontaktieren Sie mich um 13:30 - 15:00">Kontaktieren Sie mich um 13:30 - 15:00</option>
                        <option value="Kontaktieren Sie mich um 15:00 - 17:00">Kontaktieren Sie mich um 15:00 - 17:00</option>
                        <option value="Kontaktieren Sie mich um 17:00 - 19:00">Kontaktieren Sie mich um 17:00 - 19:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-30">
                      <textarea name="your-message" class="form-control" placeholder="Ihre Nachricht"></textarea>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit" class="btn dento-btn">Senden</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Book An Oppointment Area End -->
    
  <!-- Map Area Start-->
    <section class="dento-contact-area mt-50 mb-100">
            <div class="google-maps mb-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.6492099750308!2d7.623692051387728!3d47.594064779081734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791ba0356b92403%3A0xc11c06ead6f47f82!2zS8O2bmlnc2JlcmdlciBTdHIuIDIsIDc5NTc2IFdlaWwgYW0gUmhlaW4sIM6TzrXPgc68zrHOvc6vzrE!5e0!3m2!1sel!2sgr!4v1660654196852!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
      </section>

  
  <!-- Map Area End -->


  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg_img/7.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">

            <!-- Single Testimonials Slide -- Testimonial Number 1 -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_1.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Super Behandlung! Sehr kompetenter Zahnärztin, ausgesprochen freundlich und empathisch. Man fühlt sich einfach rundum wohl. Ich würde für jegliche zahnmedizinischen Probleme nur Dr. Karvouni und Ihr Team kontaktieren und diese Praxis auch jedem weiterempfehlen.”</h5>
                <h6>Karl Wagner</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -- Testimonial Number 2 -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_2.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Dr. Karvouni hat sich bei meiner Erstuntersuchung sehr viel Zeit genommen und mich sehr gut aufgeklärt. Ich habe mich sehr gut aufgehoben gefühlt und kann die Praxis nur weiter empfehlen.”</h5>
                <h6>Anna Fischer</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -- Testimonial Number 3 -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_with_kid.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Super Praxisteam! Sehr kompetente, freundliche Beratung. Die Belange des Patienten werden sehr ernst genommen und durch fachliche Beratung unterstützt.”</h5>
                <h6>Ben & Lucas Weber</h6>
                <p>Dental Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** FAQ & Job Opportunities Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>FAQs & Stellenangebote</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <!-- Single Blog Item  Question No 9 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'faq' %}">
              <img src="{% static 'website/img/bg_img/20.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'faq' %}" class="post-title">Wie oft muss ich zur Professionellen Zahnreinigung kommen ?</a>
              <!-- Accordition -->
              <section>
                <details>
                  <summary><p style = "display: inline;"> Das hängt von Ihren individuellen Prophylaxeplan ab. Dieses werden wir </p></summary>
                  <p>  gemeinsam nach Ihren Bedürfnissen erstellen. Wie oft eine PZR sinnvoll ist, hängt von verschiedenen Faktoren ab, wie z.B. Parodontitisrisiko, Kariesrisiko, allgemeinen Erkrankungen (z.B Diabetes). Die empfohlenen Intervalle liegen zwischen 4 und 12 Monaten. </p>
                </details>
              </section>
              <!-- Accordition End -->
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'faq' %}">
              <img src="{% static 'website/img/bg_img/16.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'faq' %}" class="post-title">Ist Bleaching (Zahnaufhellung) schädlich für die Zähne ? </a>
              <section>
                <details>
                  <summary><p style = "display: inline;">Falls das Bleaching richtig angewendet wird, ist es für die Zähne</p></summary>
                  <p>nicht schädlich. Der Zahnschmelz ist die härteste biologische Substanz der Zähne und sehr widerstandsfähig. Einzige Säuren, wie z.B. die,von Kariesbakterien gebildet werden, können dem Zahnschmelz schaden. Allerdings ist es zu beachten, dass die Zahnhälse und das Zahnfleisch von dem Bleaching-Gel geschützt werden müssen. Daher sollte das Bleaching nur von qualifiziertem Personal durchgeführt werden. Einzige Nebenwirkung kann eine vorübergehende Empfindlichkeit der Zähne sein. Allergien oder Unverträglichkeiten sind nicht bekannt.</p>
                </details>
              </section>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'jobs' %}">
              <img src="{% static 'website/img/bg_img/job_v2.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'jobs' %}" class="post-title">Smile in Weil Stellenangebote und Karrieremöglichkeiten</a>
              <section>
                <details>
                  <summary><p style = "display: inline;">Ergreifen Sie die Gelegenheit und werden Sie Teil unseres Teams!</p></summary>
                  <p><br>Weitere Informationen über offene Stellen in unserer Klinik finden Sie unter der Rubrik Jobs auf der Registerkarte Info. In jedem Fall freuen wir uns auf Ihren Lebenslauf und einen Termin für ein Vorstellungsgespräch. <br><br>Wir sehen uns bald wieder!</p>
                </details>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}