{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'webiste/img/bg_img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Leistungen</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Leistungen</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss1.png' %}" alt="">
            </div>
            <h5>Professionelle Zahnreinigung, Dentalhygiene</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Mit der häuslichen Zahnpflege können nur selten alle Zahnflächen, insbesondere die hinteren Zahnbereiche und Zwischenräume, perfekt gereinigt werden. Die professionelle Zahnreinigung ist eine Intensivreinigung, bei der krankmachende und störende Beläge/Verfärbungen gründlich entfernt werden.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss2.png' %}" alt="">
            </div>
            <h5>Zahnfleischbehandlung</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Parodontitis ist eine chronische Erkrankung des zahnumgebenden Gewebes (Zahnhalteapparat). Sie führt ohne Behandlung zu Knochenabbau und tiefen Zahnfleischtaschen. Zahnverlust ist die Folge. Anzeichen für Parodontitis sind geschwollenes Zahnfleisch, erhöhte Blutungsneigung und Mundgeruch. Eine tiefe Reinigung der Zahnfleischtaschen unter lokaler Betäubung, bei schweren Fällen eine zusätzliche Verabreichung von Antibiotika, kann einen weiteren Knochenabbau verhindern. Regelmäßige Kontrollen des Zahnfleischs und professionelle Zahnreinigungen sind nach einer Parodontitis Behandlung für ein nachhaltiges Ergebnis notwendig.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss3.png' %}" alt="">
            </div>
            <h5>Wurzelkanalbehandlung</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Ziel ist die langfristige Erhaltung des erkrankten Zahns. Die Behandlung entzündeter Zahnwurzeln führen wir in unserer Praxis mit modernsten Methoden durch. Die Wurzelkanäle werden dabei maschinell aufbereitet, sorgfältig gespült und entzündetes Gewebe wird entfernt. Wurzelkanalbehandelte Zähne benötigen jedoch oft eine Überkronung, da sie mit der Zeit spröde werden und abbrechen können.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss4.png' %}" alt="">
            </div>
            <h5>Knirscherschienen</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Unbewusstes Zähneknirschen, meistens in der Nacht, verursacht den Verlust von Zahnhartsubstanz, sowie Kopf- und Nackenschmerzen. Die Ursachen können Stress, Alltagsprobleme oder Ängste sein. Knirscherschienen schützen Ihre Zahnhartsubstanz und helfen dabei die Kiefergelenke und Kaumuskeln zu entlasten.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss5.png' %}" alt="">
            </div>
            <h5>Keramikfüllungen und Inlays</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>                
                <p><br>Bei großen Zahndefekten sind Füllungen aus Keramik die beste Versorgung. Wir stellen mit dem bewährten und marktführenden CEREC-Verfahren eine individuell für Ihren Zahn angepasste Keramikversorgung her. Dazu sind zwei Termine notwendig. Zunächst wird der Zahn präpariert, bei Ihrem zweiten Termin setzen wir die passgenaue Restauration ein.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss6.png' %}" alt="">
            </div>
            <h5>Kinderbehandlung</h5> 
            <section>
              <details>
              <summary>Einzelheiten</summary>
                <p><br>Kinder sollen unbeschwert die ersten Zahnarztbesuche erleben und so Vertrauen gewinnen. Deshalb empfehlen wir bereits ab dem 3. Lebensjahr regelmäßig 2x jährlich einen Kontrolltermin. Frühzeitiges Erlernen der richtigen Zahnputztechnik und regelmäßige Zahnprophylaxe bei Kindern und Jugendlichen sind grundlegend für ein lebenslanges Lächeln.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss7.png' %}" alt="">
            </div>
            <h5>Zahnersatz</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Sie benötigen oder wünschen sich Zahnersatz?<br><br>Eine Krone ummantelt den Zahn und stellt ihn wieder her. Sie kann bei größeren Zahndefekten und wurzel- kanalbehandelten Zähnen eingesetzt werden. Eine Brücke schließt eine vorhandene Lücke, indem sie an den benachbarten Zähnen der Lücke befestigt wird. 
                  Herausnehmbarer Zahnersatz (Teil-/Vollprothesen): Teilprothesen ersetzen größere oder mehrere Lücken pro Kiefer. Vollprothesen ersetzen alle Zähne im Kiefer.</p>
              </details>
            </section>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss8.png' %}" alt="">
            </div>
            <h5>Bleaching</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Die Zahnfarbe verändert sich mit den Jahren durch Einlagerungen von Farbpartikeln aus Genussmitteln wie z.B. Kaffee, Nikotin oder Rotwein. Durch Bleaching bekommen Ihre Zähne einen deutlich helleren Weißton. Das Verfahren ist wissenschaftlich nachgewiesen unschädlich für Ihre Zähne. Vor dem Bleaching ist eine professionelle Zahnreinigung obligatorisch.</p>
              </details>
            </section>
        </div>
      </div>
        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core_img/ss9.png' %}" alt="">
            </div>
            <h5>Zahnimplantate</h5>
            <section>
              <details>
                <summary>Einzelheiten</summary>
                <p><br>Für größere kieferchirurgische Eingriffe sowie Implantate vertrauen wir auf kompetente und erfahrene Kooperationspartner, an den wir Sie gerne überweisen.</p>
              </details>
            </section>
          </div>
        </div>

      
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg_img/7.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -- Testimonial Number 7  -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_4.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“An dieser Praxis gefällt mir alles! Die Zahnärztin ist sympathisch und sehr kompetent, die Helferinnen sind alle sehr nett. Meine Familie geht zu keinem andere Zahnarztpraxis mehr. ”</h5>
                <h6>Jason Rogan</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -- Testimonial Number 8 -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_3.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Schon seit Jahren habe ich aus Angst die notwendige Behandlung vor mir her geschoben, bis ich im Internet auf die Webseite der Praxis Smile in Weil gestoßen bin. Es klang alles schon fast zu schön um wahr zu sein, aber am Ende der Behandlung kann ich sagen, es war sogar noch besser!”</h5>
                <h6>Paul Smith Ramsey</h6>
                <p>Dental Patient</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -- Testimonial Number 9 -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg_img/user_9.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Ich war noch nie so begeistert von einem Zahnarzt und einer Zahnarztpraxis! Das erste mal, dass sich eine Zahnärztin wirklich Zeit genommen hat. Man wurde über alles aufgeklärt. Man hat absolut nicht das Gefühl, dass der Patient egal ist und einem das Geld aus den Taschen gezogen wird. Unglaublich tolle Zahnärztin und super liebe Zahnarzthelferinnen. Ich komme gerne wieder! ”</h5>
                <h6>Emma Keller</h6>
                <p>Dental Patient</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->  

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Häufig gestellte Fragen</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item  Question No 9 -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'faq' %}">
              <img src="{% static 'website/img/bg_img/toothpain.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'faq' %}" class="post-title">Ich habe Zahnschmerzen, was kann ich tun?</a>
              <!-- Accordition -->
              <section>
                <details>
                  <summary><p style = "display: inline;">Bei Beschwerden und Zahnschmerzen können Sie uns</p></summary>
                  <p>natürlich jederzeit zu unseren Öffnungszeiten anrufen. In dringenden Notfällen können Sie uns auch nach den Öffnungszeiten erreichen. Die dafür notwendige Telefonnummer ist auf unserem Anrufbeantworter hinterlegt</p>
                </details>
              </section>
              <!-- Accordition End -->
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'faq' %}">
              <img src="{% static 'website/img/bg_img/denerve.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'faq' %}" class="post-title">Ist eine Wurzelbehandlung schmerzhaft ?</a>
              <section>
                <details>
                  <summary><p style = "display: inline;">In der Regel ist eine Wurzelbehandlung nicht schmerzhaft,</p></summary>
                  <p> denn der Zahn wird
                    dazu betäubt. So werden Sie während der ganzen Prozedur nichts spüren. Wir versuchen jede Behandlung so schmerzfrei wie möglich zu gestalten.</p>
                </details>
              </section>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="{% url 'faq-page=2' %}">
              <img src="{% static 'website/img/bg_img/teeth_whitening.jpg' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="{% url 'faq-page=2' %}" class="post-title">Wie kann ich meine Zähne am besten aufhellen ?</a>
              <section>
                <details>
                  <summary><p style = "display: inline;">Es gibt viele Aufhellungsprodukte im Handel zu kaufen, und Sie können Gels</p></summary>
                  <p><br>
                    und Schienen von Ihrem Zahnarzt mit nach Hause nehmen, aber beides ist nicht so wirksam wie eine Behandlung in einer Zahnarztpraxis.
                    <br><br>
                    Wenn Sie ein freiverkäufliches Bleichmittel ausprobieren möchten, achten Sie auf ein Produkt mit dem ADA-Siegel. Lassen Sie sich vor dem Kauf von Ihrem Zahnarzt beraten, besonders wenn Sie Zahnbehandlungen oder dunkle Flecken haben. Und verwenden Sie es nicht ständig, sonst könnten Sie Ihre Zähne schädigen.</p>
                </details>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->

{% endblock %}